.topSection {
    min-height: 80px;
    display: flex;
    align-items: center;
    width: 100%;
    input {
        background-color: transparent !important;
        color: #fff;
        &placeholder {
            color: unset;
        }
        &:focus {
            color: #fff;
        }
    }
}