.topSection {
    min-height: 80px;
    display: flex;
    align-items: center;
    input {
        background-color: transparent !important;
        color: #fff !important;
        &placeholder {
            color: unset;
        }
    }
}